<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <title>Admin Panel</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="css/lib/calendar2/semantic.ui.min.css" rel="stylesheet">
    <link href="css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
    <link href="css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="css/helper.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!--===============================================================================================-->
      <link rel="icon" type="image/png" href="images1/icons/favicon.ico"/>
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="vendor1/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="fonts1/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="vendor1/animate/animate.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="vendor1/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="vendor1/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="vendor1/select2/select2.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="vendor1/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="css1/util.css">
      <link rel="stylesheet" type="text/css" href="css1/main.css">
    <!--===============================================================================================-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header fix-sidebar">
<!-- Preloader - style you can find in spinners.css -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
</div>
<!-- Main wrapper  -->
<div id="main-wrapper">
    <!-- header header  -->
    <div class="header">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <!-- Logo -->

            <!-- End Logo -->
            <div class="navbar-collapse">
                <!-- toggle and nav items -->
                <ul class="navbar-nav mr-auto mt-md-0">
                    <!-- This is  -->
                    <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                    <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                </ul>
                <ul class="navbar-nav my-lg-0">

                    <!-- Search -->
                    <li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-search"></i></a>
                        <form class="app-search">
                            <input type="text" class="form-control" placeholder="Search here"> <a class="srh-btn"><i class="ti-close"></i></a> </form>
                    </li>
                    <!--done-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="images/download.png" alt="user" class="profile-pic" /></a>
                        <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                            <ul class="dropdown-user">
                                <li><a href="/"><i class="ti-user"></i> Dashboard</a></li>
                                <li><a href="/admin/changepassword"><i class="ti-settings"></i> Change Password</a></li>
                                <li><a href="/admin/logout"><i class="fa fa-power-off"></i> Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- End header header -->
    <!-- Left Sidebar  -->
    <div class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="nav-devider"></li>
                    <li class="nav-label">Home</li>
                    <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/">Dashboard</a></li>
                        </ul>
                    </li>
                    <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-product-hunt"></i><span class="hide-menu">Product </span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/products">Products </a></li>
                            <li><a href="/addnew">Add New Product </a></li>
                        </ul>
                    </li>
                    <li class="nav-label">Features</li>
                    <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Orders</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/orders">View All Orders</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </div>
    <!-- End Left Sidebar  -->
    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <!-- <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Dashboard</h3> </div>
        </div> -->
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
         <!-- <div class="container-fluid">
            <div class="card-body">
                <div class="horizontal-form-elements">
                    <form class="form-horizontal" enctype='multipart/form-data' id="uploadForm" action="/addnew" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <label for="title">Title</label>
                                        <input type="text" placeholder="Title" name="title" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <label for="title">content</label>
                                        <textarea name="content" class="form-control" placeholder="Content" type="text" rows ="10"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-sm-10">
                                        <label for="category">Category</label>
                                        <input type="text" placeholder="eg. T-shirt, mobile" name="category" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-sm-10">
                                        <label for="originalPrice">Original Price</label>
                                        <input type="text" placeholder="Price" name="originalPrice" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-sm-10">
                                        <label for="discountedPrice">Discounted Price</label>
                                        <input type="text" placeholder="Price" name="discountedPrice" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <label for="">Upload Photo</label>
                                        <input required name="image"  type="file" class="form-control-file">
                                    </div>
                                    <br>
                                    <%if(danger){%>
                                    <%if(danger.length > 0){%>
                                    <div class="alert alert-danger">Invalid Credentials</div>
                                    <%}%>
                                    <%}%>
                                    <%if(success){%>
                                    <%if(success.length > 0){%>
                                    <div class="alert alert-success"><%=success%></div>
                                    <%}%>
                                    <%}%>
                                    <br>
                                <button class="btn btn-primary btn-block">Add Product</button>
                            </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> -->
        <div class="container-contact100 " >
      		<div class="wrap-contact100">
      			<form class="contact100-form validate-form form-horizontal" enctype='multipart/form-data' id="uploadForm" action="/addnew" method="post">
      				<span class="contact100-form-title">
      					Add Product
      				</span>

      				<div class="wrap-input100 validate-input" data-validate="titl is required">
      					<span class="label-input100">Title</span>
      					<input class="input100" type="text" name="title" placeholder="Enter the title">
      					<span class="focus-input100"></span>
      				</div>

      				<div class="wrap-input100 validate-input" data-validate = "Valid content is required">
      					<span class="label-input100">Content</span>
      					<input class="input100" type="text" name="content" placeholder="Enter your content">
      					<span class="focus-input100"></span>
      				</div>

      				<div class="wrap-input100 input100-select">
      					<span class="label-input100">Category</span>
      					<div>
      						<select class="selection-2" name="category">
      							<option>Choose Category</option>
      							<option>Mobile</option>
      							<option>Electrical appliances</option>
      							<option>Laptop</option>
      							</select>
      					</div>
      					<span class="focus-input100"></span>
      				</div>
      				<div class="wrap-input100 validate-input" data-validate = "Message is required">
      					<span class="label-input100">Message</span>
      					<textarea class="input100" name="message" placeholder="Your message here..."></textarea>
      					<span class="focus-input100"></span>
      				</div>


      				<div class="wrap-input100 input100-select">
      					<span class="label-input100">Original Price</span>
      										<input class="input100" type="text" name="originalPrice" placeholder="Enter original price">
      					<div>

      					</div>
      					<span class="focus-input100"></span>
      				</div>

      				<div class="wrap-input100 input100-select">
      					<span class="label-input100">Discounted Price</span>
      					<input class="input100" type="text" name="discountedPrice" placeholder="Enter discounted price">
      					<div>
      <span class="focus-input100"></span>
      					</div>
      					<span class="focus-input100"></span>
      				</div>

              <div class="form-group">
                  <div class="col-sm-10">
                      <label for="">Upload Photo</label>
                      <input required name="image"  type="file" class="form-control-file">
                  </div>
                  <br>
                  <%if(danger){%>
                  <%if(danger.length > 0){%>
                  <div class="alert alert-danger">Invalid Credentials</div>
                  <%}%>
                  <%}%>
                  <%if(success){%>
                  <%if(success.length > 0){%>
                  <div class="alert alert-success"><%=success%></div>
                  <%}%>
                  <%}%>
                  <br>
                  <div class="container-contact100-form-btn">
          					<div class="wrap-contact100-form-btn">
          						<div class="contact100-form-bgbtn"></div>
          						<button class="contact100-form-btn">
          							<span class="focus-input100"></span>
          							<span>
          								Submit
          								<span class="focus-input100"></span>
          								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
          							</span>
          						</button>
          					</div>
          				</div>
          </div>



      			</form>
      		</div>
      	</div>



      	<div id="dropDownSelect1"></div>


      </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        <footer class="footer"> © 2018 All rights reserved. </footer>
        <!-- End footer -->
    </div>
    <!-- End Page wrapper  -->
</div>

<!-- End Wrapper -->
<!-- All Jquery -->
<script src="js/lib/jquery/jquery.min.js"></script>
<script src="js/scripts.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="js/lib/bootstrap/js/popper.min.js"></script>
<script src="js/lib/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="js/jquery.slimscroll.js"></script>
<!--Menu sidebar -->
<script src="js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
<!--Custom JavaScript -->


<!-- Amchart -->
<script src="js/lib/morris-chart/raphael-min.js"></script>
<script src="js/lib/morris-chart/morris.js"></script>
<script src="js/lib/morris-chart/dashboard1-init.js"></script>


<script src="js/lib/calendar-2/moment.latest.min.js"></script>
<!-- scripit init-->
<script src="js/lib/calendar-2/semantic.ui.min.js"></script>
<!-- scripit init-->
<script src="js/lib/calendar-2/prism.min.js"></script>
<!-- scripit init-->
<script src="js/lib/calendar-2/pignose.calendar.min.js"></script>
<!-- scripit init-->
<script src="js/lib/calendar-2/pignose.init.js"></script>

<script src="js/lib/owl-carousel/owl.carousel.min.js"></script>
<script src="js/lib/owl-carousel/owl.carousel-init.js"></script>

<!-- scripit init-->


</body>

</html>
