<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <title>Welcome Admin</title>
    <!-- Bootstrap Core CSS -->
    <link href="/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/helper.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header fix-sidebar">
<!-- Preloader - style you can find in spinners.css -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
</div>
<!-- Main wrapper  -->
<div id="main-wrapper">
    <div class="unix-login">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="login-content card">
                        <div class="login-form">
                            <h4>Change Password</h4>
                            <form action="/admin/changepassword" method="post">
                                <div class="form-group">
                                    <label>Old Password</label>
                                    <input required name="oldPassword" type="text" class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label>New Password</label>
                                    <input required name="newPassword" id="new_password" type="password" class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input required name="confirmPassword"  oninput="check(this)" id="confirm_password"type="password" class="form-control" placeholder="Password">
                                </div>
                                <%if(danger){%>
                                <%if(danger.length > 0){%>
                                <div class="alert alert-danger">
                                    <p class="text-center"><strong><%=danger%></strong></p>
                                </div>
                                <%}%>
                                <%}%>
                                <%if(success){%>
                                <%if(success.length > 0){%>
                                <div class="alert alert-success">
                                    <p class="text-center"><strong><%=success%></strong></p>
                                </div>
                                <%}%>
                                <%}%>
                                <label class="pull-right">
                                    <%if(login){%>
                                    <a href="/admin/login">Go Back</a>
                                    <%} else {%>
                                    <a href="/">Go Back</a>
                                    <%}%>

                                </label>
                                <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Change Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<input name="password_confirm" required="required" type="password" id="password_confirm" oninput="check(this)" />
<script language='javascript' type='text/javascript'>
    function check(input) {
        if (input.value != document.getElementById('new_password').value) {
            input.setCustomValidity('Password Must be Matching.');
        } else {
            input.setCustomValidity('');
        }
    }
</script>
<script src="/js/lib/jquery/jquery.min.js"></script>

<script src="/js/lib/bootstrap/js/popper.min.js"></script>
<script src="/js/lib/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/js/jquery.slimscroll.js"></script>
<!--Menu sidebar -->
<script src="/js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
<!--Custom JavaScript -->
<script src="/js/scripts.js"></script>

</body>

</html>
